.formio_builder_container .formio_header {
    margin: 0 auto;
    padding: 10px;
}

.formio_builder_iframe_container  {
    border-bottom: 1px solid #ccc;
    height: 100%;
}

.formio_builder_container .formio_header .formio_builder_dock * {
    font-size: 1.05em;
}


@media screen and (max-height: 1080px) {
    .formio_builder_iframe_container {
        height: 720px;
    }
}

@media screen and (max-height: 900px) {
    .formio_builder_iframe_container {
        height: 700px;
    }
}

@media screen and (max-height: 800px) {
    .formio_builder_iframe_container {
        height: 600px;
    }
}

@media screen and (max-height: 768px) {
    .formio_builder {
        height: 550px;
    }
}
