.formio_header {
    margin: 0 auto;
    padding: 20px 20px 20px 30px;
}

/* Builder */

.formio_builder {
    border-bottom: 1px solid #ccc;
    height: 100%;
}

/* Start states */
.formio_builder_container.OBSOLETE .formio_header {
    background-color: #ccc;
}

.formio_builder_container.OBSOLETE .formio_builder {
    opacity: 0.6;
}

.formio_builder_container.CURRENT .formio_header {
    background-color: #73b743; /* #418410; */
}

.formio_builder_container.CURRENT .formio_header * {
    color: #fff;
}
/* End states */

.formio_builder iframe {
    padding-left: 30px;
}

@media screen and (max-height: 1080px) {
    .formio_builder {
        height: 860px;
    }
}

@media screen and (max-height: 900px) {
    .formio_builder {
        height: 700px;
    }
}

@media screen and (max-height: 800px) {
    .formio_builder {
        height: 600px;
    }
}

@media screen and (max-height: 768px) {
    .formio_builder {
        height: 550px;
    }
}
