#formio_form_app {
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 4px;
    clear: both;
}

.formio_form_dock {
    margin-bottom: .5rem;
}

.formio_form_dock * {
    font-size: 14px;
}

.formio_form_dock ul {
    list-style: none;
}

.formio_form_dock ul li {
    float: left;
    margin-left: 40px;
}

span.formio_dock_label {
    padding-right: 10px;
    font-weight: 700;
}

h3.formio_form_title {
    color: #000;
    font-size: 1.5em;
}

.formio_languages {
    clear: both;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

.formio_languages button {
    border: 1px solid #000000;
    background-color:white;
    color:black;
}

.btn.language_button_active {
    background-color:#6e757c;
    color:white;
    border: 1px solid #6e757c;
}