body {
    margin-right: 12px;
}

#formio_builder_app {
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 4px;
}

#formio_builder_loading {
    background: url('/web/static/lib/select2/select2-spinner.gif') center center no-repeat;
    height: 16px;
    margin-top: 5%;
}

.formio_builder_actions {
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.formio_builder_actions a {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.formio_builder_actions a i {
    padding-right: 0.2rem;
}

/**
  Hack: Prevent the comopnent-editor-dialog scale too much
**/
/* .component-edit-tabs.col-sm-6 { */
/*     min-height: auto; */
/* } */
