/* TODO: media queries for mobile (width) */

#wrapwrap {
    background-color: #fff;
    display: block;
    min-height: none; /* get rid off window vertical scrollbar */
}

main {
    margin: 0 auto;
    width: 75%;
}

header {
    margin-top: 40px;
}

#oe_main_menu_navbar a.dropdown i.fa-th-large {
    font-size: 14px;
}

.o_main_navbar > .o_menu_brand {
    text-decoration: none;
}

#oe_main_menu_navbar .dropdown-menu {
    font-size: 12px;
}

#oe_main_menu_navbar .o_menu_systray a {
    text-decoration: none;
    font-size: 14px;
}

#top_menu span, #top_menu a, #top_menu span a {
    font-size: 14px;
}

#form_info {
    margin-bottom: 8px;
}

/* Form.io rendering area */

#formio_builder_container {
    margin-left: 20px;
    width: 90%;
    height: 75%;
    position: absolute;
    top: 70px;
    left: 0;
}

#formio_form_container {
    width: 85%;
    height: 75%;
    position: absolute;
    top: 60px;
    left: 10%;
}
