body {
    background-color: #f5f5f5;
}

header .navbar {
    margin-bottom: 0;
}

.navbar-brand.company-logo {
    padding: 0 15px 0 0;
}

.navbar.navbar-static-top ul.nav > li.divider {
	height: 40px;
	margin-top: 5px;
	border-right: 1px solid #ccc;
}

#oe_main_menu_navbar {
    font-size: 13px;
}

#oe_main_menu_navbar .o_menu_systray a > .fa {
    margin-right: 7.5px;
}

#oe_main_menu_navbar .o_menu_systray a {
    text-decoration: none;
}

/* Odoo: /web/static/src/less/web.assets_frontend/import_bootstrap.less.css */
.navbar-default .navbar-nav > li > a {
    color: #777;
}

main a.navbar-brand.logo img {
    max-height: 75px;
}

body #wrapwrap {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	/* height: 100%; XXX causes a inexplicable vertical scroll */
}

body #wrapwrap main {
    background-color: #f5f5f5;
}

body #wrapwrap main .container {
    background-color: #fff;
}


/* Form.io Builder */

body #wrapwrap main .container.formio_builder_title {
    background-color: #f5f5f5;
}

.formio_builder_title .row > div {
    height: 75px;
}

.formio_builder_title .formio_builder_name {
    float: left;
    margin-top: 25px;
    color: #777777;
}

.formio_builder_title h3.formio_builder_name small {
    vertical-align: middle;
}

.container.form_builder_container {
    padding: 12px;
    border: 1px solid #e7e7e7;

}

#formio_builder {
    padding: 12x;
}

#formio_builder.row {
    margin-right: 0;
}

/* Form.io Form */

body #wrapwrap main .container.formio_form_title {
    background-color: #f5f5f5;
}

.formio_form_title .row > div {
    height: 75px;
}

.formio_form_title .formio_form_name {
    float: left;
    margin-top: 25px;
    color: #777777;
}

.container.form_form_container {
    padding: 12px;
    border: 1px solid #e7e7e7;
}

#formio_form {
    padding: 12x;
}

#formio_form.row {
    margin-right: 0;
}

/* Form.io componenets/elements.
Overriden by Odoo assets_common CSS. */

label {
    font-weight: normal;
    font-size: 12px;
}
