/* TODO: media queries for mobile (width) */
#wrapwrap {
    background-color: #ececec;
}

main {
    margin: 0 auto;
    width: 75%;
}

#form_builder_container {
    background-color: #fff;
    padding: 12px;
}

/* navbar dropdown tile & menu */

#oe_main_menu_navbar a.dropdown i.fa-th-large {
    font-size: 14px;
}

#oe_main_menu_navbar .dropdown-menu {
    font-size: 12px;
}

#oe_main_menu_navbar .o_menu_systray a {
    text-decoration: none;
    font-size: 14px;
}

#top_menu span, #top_menu a, #top_menu span a {
    font-size: 14px;
}
