.formio_text_component p {
    border: 1px solid #d8d8d8;
    padding: 4px;
    padding-left: 8px;
}

.formio_header {
    padding: 4px;
    border-bottom: 1px solid #d8d8d8;
}

.formio_components > table td {
    border: none;
}

.formio_panel_component {
    border: 1px solid #f0f0f0;
}

.formio_panel_component p {
    padding: 8px;
    background-color: #f0f0f0;
}
